# Linear Regression:

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv("Glucose.csv")
df

   Subject  Age  Glucose Level
0        1   43             99
1        2   21             65
2        3   25             79
3        4   42             75
4        5   57             87
5        6   59             81

In [3]:
reg = linear_model.LinearRegression()
reg.fit(df.iloc[:,1:2],df.iloc[:,2:3])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
reg.predict([[55]])

array([[86.3289456]])